framework: net461

source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget FAKE
nuget log4net 
nuget NLog 
nuget Serilog 
nuget MSBuild.Microsoft.VisualStudio.Web_WebApplication.Targets 12.0.2
nuget NUnit
nuget NUnit.ConsoleRunner
